/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.app-panels {
	background-color: #000000;
}

.app-panels > * {
	background-color: #555;
}

.onyx-toolbar {
	height: 54px;
}

.list-header {
	width: inherit;
	height: 14px;
	line-height: 14px;
	padding: 10px;
	color: white;
	background-color: #555;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #0E0E0E;
	font-size: 14px;
	font-weight: bold;
}

.list-item {
	width: inherit;
	height: 44px;
	padding: 4px;
	color: white;
	background-color: #333333;
	border-bottom: 1px solid #0E0E0E;
	line-height: 44px;
	font-size: 18px;
}

.list-item.onyx-selected {
	background-color: MidnightBlue;
}

.onyx-groupbox {
	margin-bottom: 10px;
}

.group-item {
	padding: 10px;
	min-height: 32px;
	line-height: 32px;
	color: white;
}

.password-popup {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 40%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}


code {
	color: yellow;
	font-size: 140%;
}
td, th {
	border: solid 1px black;
	padding: 1rem;
	text-align: center;
}

/* Camera */

#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:320px;
	height:240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#canvas {
	display:none;
	/*display: block;*/
	/*margin-top: 1em;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

#photo {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width: 320px;
	height: 240px;
	display: block;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}


/* Responsive Images */

.test-webkit-image-set {
	background-image: url(../../assets/nonresponsive-1x.png);
	background-image: -webkit-image-set(url(../../assets/responsive-1x.png) 1x, url(../../assets/responsive-2x.png) 2x);
	width:320px;
	height:240px;
}